<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Room</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<p>
    <a href="{% url 'create_room' %}" class="my_btn_create">Создать чат</a>
</p>
{% for room in list_room %}
    <p>
        <a href="{{ room.slug }}/">{{ room.name }}</a>
        <a href="{% url 'update_room' room.slug %}" class="my_btn_update">Редактировать</a>
        <a href="{% url 'delete_room' room.slug %}" class="my_btn_delete">Удалить</a>

    </p>
{% endfor %}



</body>
</html>